 <div class="user-details">
  <div class="home-title">
    <h1> About Me </h1>
  </div>
</div>
<div class="user">
  <div class="introduce">
    <p style="text-align: left;"> Hello, Everyone.</p>
    <p style="text-align: left;"> I am a Ph.D. candidate in <a href="http://dyros.snu.ac.kr/">DYROS Lab (Prof. Jaeheung Park) </a> at Seoul National University, Republic of Korea.</p>
    <p style="text-align: left;"> In 2013, my colleagues and I had participated in KOREA AUTONOMOUS VEHICLE CONTEST 2013 as <a href="https://www.youtube.com/embed/EyjRJQamkrg">Team Smart Mobility</a> and I was student subleader of our team. My main roles were conducting vehicle control tests, lane detection using lidar sensors, and managing the entire team schedule.</p>
    <p style="text-align: left;"> In 2015, my colleagues and I had participated in DARPA Robotics Challenge Finals 2015 (DRC Finals 2015) as <a href="http://dyros.snu.ac.kr/drc-comp/">Team SNU</a>  My main role was to carry out the first mission of the challenge using a humanoid to control the steering of the vehicle to the parking lot without colliding with obstacles.</p>
    <p style="text-align: left;"> Main keywords of my reasearches are <strong>Intelligent Vehicle</strong>, <strong>Motion Planning and Path Following</strong>, <strong>Optimal Control</strong>, and <strong>Machine Learning for object recognition</strong>. </p>
    <p style="text-align: left;"> In this website, you can find my projects, publications, videos, and source codes. And my Curriculum Vitae (CV) is <a href="/assets/pdf/cv/CV.pdf"> here</a> (uptated, 04.27.20).  </p></div>
  <div class="introduce">
    <p style="text-align: left;"><br /></p>
    <p style="text-align: left;"> <img alt="mountains" src="{{ "/assets/img/kkk.png" | prepend: site.baseurl }}" /></p></div> 
</div>

<div class="user">
  <div class="tech">
    <div class="home-title">
      <h3>Education </h3>
    </div>
    <p style="text-align: left;"><strong>2003-2010 B.S.<br /></strong> Electrical and Electronics Engineering, Chung-Ang University, Seoul</p>
    <p style="text-align: left;"><strong>2010-2011 Student Internship <br /></strong> <a href="https://aict.snu.ac.kr/">Digital Human Center</a> Advanced Institute of Convergence Technology (AICT)</p>
    <p style="text-align: left;"><strong>2011-2021 Ph.D <br /></strong> <a href="http://dyros.snu.ac.kr">Dyros Lab</a>, Seoul National University</p>
      
  </div>
  <div class="tech">
    <div class="home-title">
      <h3>Skills </h3>
    </div>
    <p style="text-align: left;"> <strong>Programming:</strong> C, C++, Python, Matlab, etc</p>
    <p style="text-align: left;"> <strong>Simulator:</strong> V-Rep, Carsim, CARLA, RLab, Gazebo, etc</p>  
    <p style="text-align: left;"> <strong>Library:</strong> Eigen, CVXGEN, Gurobi, FCL, IPOPT (IFOPT), qpOASES, RBDL, etc</p>  
    <p style="text-align: left;"> <strong>Others:</strong> Latex, GIT, ROS, etc</p></div>
  <div class="tech">
    <div class="home-title">
      <h3>Honors & Awards </h3>
    </div>
    <p style="text-align: left;"><strong> Scholarship </strong> Half Scholarship for academic excellence at Seoul National University, 2013</p>      
    <p style="text-align: left;"><strong> KOREA AUTONOMOUS VEHICLE CONTEST  </strong> 5th in overall 2013</p>
    <p style="text-align: left;"><strong> DARPA Robotics Challenge Finals  </strong> 12th in overall 2015, World No. 1 team using platform THORMANG</p></div>
</div>

