<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:minsungkim@snu.ac.kr"><i class="icon fa fa-envelope"></i></a>
                <a aria-label="My Google Scholar" target="_blank" href="https://scholar.google.co.kr/citations?hl=ko&user=1n37P4MAAAAJ"><i class="icon fa fa-google" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/WestsideMS"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll><strong>About Me</strong></a>
        <!-- <a class="link" href="#projects-featured" data-scroll><strong>Projects</strong></a> -->
        <!-- ms modifying 0423 -->
        <!-- <a class="link" href="#publications-recent" data-scroll><strong>Publications</strong></a> -->
        <!-- <a class="link" href="#posts-recent" data-scroll><strong>Posts</strong></a> -->
        <!-- <a class="link" href="#implementations-recent" data-scroll><strong>Implematations</strong></a> -->
        <!-- <a class="link" href="#projects" data-scroll>Softwares</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
